body {
    margin: 0;
    font-family: 'Poppins', sans-serif !important;
    background-color: #f5f5f5;
}

/* Estructura principal */
.contenedor {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 200px;
}

.contenido {
    padding: 40px;
    width: 90%;
}

.px-5 {
    margin: 0 auto;
    max-width: 800px;
    max-height: 800px;
    text-align: center;
}

.px-6 {
    margin: 0 auto;
    max-width: 2000px;
    max-height: 1000px;
}

/* Contenedores */
.contenedor-categoria,
.contenedor-usuario {
    background-color: white;
    border: 1px solid rgba(0.1, 0.1, 0.1, 0.2);
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    width: 85%;
    max-width: 1200px;
    margin: 20px auto;
    margin-left: 135px;
}

.contenedor-canvas{
    background-color: white;
    border: 1px solid rgba(0.1, 0.1, 0.1, 0.2);
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    width: 80%;
    max-width: 1200px;
    margin: 20px auto;
    margin-left: 135px;
}

.container{
    margin-left: 100px;
}

.container-inicio{
    margin-left: 110px;
}

.contenedor-card {
    width: 82%;
    margin-left: 125px;
}

/* Estilo del ícono de hamburguesa */
.menu-hamburguesa {
    display: none; /* Oculto por defecto en pantallas grandes */
    position: absolute;
    left: 0;
}

.menu-hamburguesa img {
    width: 30px;
    height: auto;
    cursor: pointer;
}

#hamburguesa {
    transition: transform 0.3s ease;
}

/* Barra lateral */
.barra-lateral {
    width: 200px;
    height: 100%;
    background-color: #045fb4;
    position: fixed; /* Fija la barra lateral en su posición */
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
    transition: width 0.3s;
    z-index: 1000; /* Asegura que la barra lateral esté por encima de otros elementos */
}

/* Logos y textos */
.logo {
    text-align: center;
    margin-bottom: 30px;
}

.logo img {
    width: 150px;
    height: auto;
}

.menu {
    list-style-type: none;
    padding: 0;
}

.menu li {
    padding: 8px;
    display: flex;
    align-items: center;
    color: #fff;
}

.menu li a {
    display: flex;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    margin-left: 10px;
    align-items: center;
    font-size: 15px;
}

.menu li:hover {
    background-color: #045fb4;
}

.menu li:hover a {
    color: #fff;
}

h1 {
    font-size: 24px;
    font-weight: bold;
}

h2 {
    font-size: 19px;
    font-weight: bold;
}

/* Modal */
.modal_section,
.modal_section_editar {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 10000;
}

.modal--show {
    display: flex;
}

.modal__contenedor {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
    z-index: 10001;
}

.modal__botones-contenedor {
    text-align: right;
    margin-top: 10px;
}

/* Botones */
.btn-azul {
    background-color: #007bff;
    color: white; 
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 10px;
}

.btn-rojo {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 10px;
}

.btn-verde {
    background-color: #28a745; /* Color verde */
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 10px;
}

/* Barra superior */
.top-bar {
    background-color: #045fb4 ;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.top-bar .user-info {
    display: flex;
    align-items: center;
}

.top-bar .user-info span {
    font-weight: bold;
}

/* Tablas */
.table-container {
    overflow-x: auto !important;
}

/* notificaciones */
#toast {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#toast.show {
    visibility: visible;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

/* Ajustes para tabletas y pantallas medianas */
@media (max-width: 992px) {
    .contenedor {
        margin-left: 150px;
    }

    .container{
        margin-left: 42px;
    }

    .container-inicio{
        margin-left: 190px;
    }

    .contenedor-categoria,
    .contenedor-usuario {
        width: 80%;
    }
    .contenedor-canvas{
        width: 90%;
        margin-left: 10px;
    }

    .contenedor-card {
        width: 93%;
        margin-left: 0px;
    }

    .barra-lateral {
        width: 150px;
        height: 100%;
    }

    .menu li {
        padding: 8px 5px;
        font-size: 14px;
    }

    .menu li a {
        font-size: 14px;
    }

    .top-bar {
        padding: 10px;
        width: 100%;
    }
    .card-body h5.card-title {
        font-size: 1.3rem; /* Ajusta el tamaño del título */
    }

    .card-header {
        font-size: 0.9rem; /* Ajusta el tamaño del texto en el encabezado */
    }

}

/* Ajustes para pantallas pequeñas (móviles) */
@media (max-width: 768px) {
    .contenedor {
        margin-left: 10px;
    }

    .container-inicio{
        margin-left: 10px;
    }

    .contenedor-categoria,
    .contenedor-usuario {
        width: 100%;
        padding: 15px;
        margin-left: 0;
    }

    .contenedor-canvas{
        width: 95%;
        margin-left: 10px;
    }

    .contenedor-card {
        width: 98%;
        margin-left: 0px;
    }

    .barra-lateral {
        display: none; /* Inicialmente oculto */
    }
    
    .barra-lateral.show {
        display: block; /* Se muestra cuando se activa la clase 'show' */
    }

    .menu-hamburguesa {
        display: block; /* Muestra el ícono de hamburguesa en pantallas pequeñas */
        padding: 10px;
        cursor: pointer;
    }

    .menu li {
        padding: 8px 5px;
        font-size: 12px;
    }

    .menu li a {
        font-size: 12px;
    }

    .top-bar {
        padding: 10px;
        width: 100%;
    }

}

/* Ajustes para pantallas muy pequeñas (móviles más pequeños) */
@media (max-width: 576px) {
    .contenedor {
        margin-left: 5px;
    }

    .table-container {
        overflow-x: auto;
    }

    .container{
        margin-left: 2px;
    }

    .container-inicio{
        margin-left: 2px;
        margin-right: 2px;
    }

    .contenedor-categoria{
        width: 100%;
        padding: 10px;
        margin-left: 0;
    }

    .contenedor-usuario {
        width: 100%;
        padding: 10px;
        margin-left: 0;
    }

    .contenedor-canvas{
        width: 97%;
    }

    .contenedor-card {
        width: 100%;
    }

    .barra-lateral {
        display: none; /* Inicialmente oculto */
    }
    
    .barra-lateral.show {
        display: block; /* Se muestra cuando se activa la clase 'show' */
    }

    .menu-hamburguesa {
        display: block; /* Muestra el ícono de hamburguesa en pantallas pequeñas */
        padding: 10px;
        cursor: pointer;
    }

    .menu li {
        padding: 8px 0;
        font-size: 10px;
    }

    .menu li a {
        font-size: 10px;
    }

    .top-bar {
        padding: 5px;
    }

    .top-bar .user-info span {
        font-size: 12px;
    }
}